<%
parameters = {
    title: "サイトマップ",
    entitle: "Sitemap",
    css: "contents",
    js: "app.min",
    description: "サイト内のページ一覧です。",
    ogpimage: "eyecatch.jpg"
}
%><%- include("../../util/_init_load") %><%- include("../../util/_headset", { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("../../partial/_head", { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="upper">
<%- include("../../partial/_header", { config, commonVar }) %>
<%- include("../../partial/_eyecatch", { headerString }) %>
    <!-- main -->
    <main class="main <%= id %>main">
        <aside class="container">
<%- include("../../partial/_breadcrumb", { parameters, relPath }) %>
        </aside>
        <section class="container">
            <ul>
                <%- htmlList %>
            </ul>
            <div class="text-center my-4">
                <a href="<%= relPath %>" class="btn btn-light"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<%- include("../../partial/_footer", { config, copyRightYear }) %>
</div>
<%- include("../../partial/_js_loader", { parameters, relPath }) %>
</body>
</html>