                                <div class="news_share row my-4">
<% if(config.param.articlesns.twitter) { %>
                                    <button type="button" class="btn news_btn news_btnTwitter col-6 col-lg-4 col-xl-1 mx-1 px-1 mb-3"><a href="http://twitter.com/share?url=<%= articleUrl %>&text=<%= metaTitle %>%20%2d%20<%= config.commons.sitename %>" target="_blank" title="Twitterでツイート"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i>ツイート</a></button>
<% } if(config.param.articlesns.facebook) { %>
                                    <button type="button" class="btn news_btn news_btnFacebook col-6 col-lg-4 col-xl-1 mx-1 px-1 mb-3"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= articleUrl %>" target="_blank" title="Facebookに投稿"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i>投稿</a></button>
<% } if(config.param.articlesns.googleplus) { %>
                                    <button type="button" class="btn news_btn news_btnGooglePlus col-6 col-lg-4 col-xl-1 mx-1 px-1 mb-3"><a href="https://plus.google.com/share?url=<%= articleUrl %>" target="_blank" title="Google+に投稿"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i>投稿</a></button>
<% } if(config.param.articlesns.line) { %>
                                    <button type="button" class="btn news_btn news_btnLine col-6 col-lg-4 col-xl-1 mx-1 px-1 mb-3"><a href="http://line.me/R/msg/text/?<%= metaTitle %>%20%2d%20<%= config.commons.sitename %>%20<%= articleUrl %>" target="_blank" title="LINEトークに送る"><i class="fas fa-fw fa-comment" aria-hidden="true"></i>送る</a></button>
<% } if(config.param.articlesns.pocket) { %>
                                    <button type="button" class="btn news_btn news_btnPocket col-6 col-lg-4 col-xl-1 mx-1 px-1 mb-3"><a href="https://getpocket.com/edit?url=<%= articleUrl %>" target="_blank" title="Pocketに保存"><i class="fab fa-fw fa-get-pocket" aria-hidden="true"></i>あとで</a></button>
<% } if(config.param.articlesns.feedly) { %>
                                    <button type="button" class="btn news_btn news_btnRss col-6 col-lg-4 col-xl-1 mx-1 px-1 mb-3"><a href="https://feedly.com/i/subscription/feed/<%= config.commons.url %>rss.xml" target="_blank" title="Feedlyに登録"><i class="fas fa-fw fa-rss" aria-hidden="true"></i>Feedly</a></button>
<% } %>
                                </div>