<ol class="breadcrumb">
	<li><a href="<%= path %>"><i class="fa fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
	<li><a href="<%= path %>news/<%= returnNews %>"><%= variables.param["news"].title %></a></li>
	<li class="active"><%= newsBlock.title %></li>
</ol>