<nav aria-label="パンくずリスト">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="<%= relPath %>"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
        <li class="breadcrumb-item"><a href="<%= relPath %>news/<%= returnNews %>"><%= config.param["news"].title %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= config.param[id].title %></li>
    </ol>
</nav>