<nav aria-label="パンくずリスト">
    <ol class="breadcrumb bg-white">
<%
if(id === 'index') {
%>
        <li class="breadcrumb-item"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</li>
<%
}
else if(id === 'article') {
%>
        <li class="breadcrumb-item"><a href="<%= relPath %>"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
        <li class="breadcrumb-item"><a href="<%= relPath %>news/<%= returnNews %>">更新履歴<%= pages %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= metaTitle %></li>
<%
}
else {
%>
        <li class="breadcrumb-item"><a href="<%= relPath %>"><i class="fas fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= metaTitle %></li>
<%
}
%>
    </ol>
</nav>