<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= relPath %>"><i class="fa fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
        <li class="breadcrumb-item"><a href="<%= relPath %>news/<%= returnNews %>"><%= variables.param["news"].title %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= variables.param[id].title %></li>
    </ol>
</nav>