    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= metaTitle %> | <%= variables.commons.sitename %></title>
    <meta name="description" content="<%= metaDescription %>">

    <!-- favicon, etc -->
    <link href="<%= relPath %>apple-touch-icon.png" rel="apple-touch-icon">

    <!-- theme color -->
    <meta name="theme-color" content="<%= commonVar["main-color"] %>">

    <!-- css -->
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <link href="<%= relPath %>css/<%= variables.param[id].css %>.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="<%= variables.commons.sitename %> &raquo; フィード" href="<%= relPath %>rss.xml" />

    <!-- twitter card -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@<%= variables.commons.twitteraccount %>" />
    <meta property="og:type" content="website" />
    <meta name="og:title" content="<%= metaTitle %>" />
    <meta name="og:site_name" content="<%= variables.commons.sitename %>" />
    <meta name="og:description" content="<%= metaDescription %>" />
    <meta name="og:image" content="<%= metaOgpimage %>" />
    <meta name="og:url" content="<%= variables.commons.ogpurl %>" />