	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= variables.param[id].title %> | <%= variables.commons.sitename %></title>
	<meta name="description" content="<%= variables.param[id].description %>">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= path %>favicon/favicon.ico">
    <link rel="icon" type="image/png" href="<%= path %>favicon/favicon.png">

    <!-- theme color -->
    <meta name="theme-color" content="<%= commonVar["main-color"] %>">

	<!-- css -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="<%= path %>css/<%= variables.param[id].css %>.css" rel="stylesheet">

    <!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css" />
