<!-- header -->
<header class="header" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top o-navbar">
        <div class="container">
            <a class="navbar-brand my-0 o-navbar_header" href="<%= relPath %>#wrapper"><%= config.commons.sitename %></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
<% if(plugins.svghexagon) { %><%- include('../_plugins/svghexagon/svghexagon', { commonVar }) %><% } %>
            </button>
<% const navPath = funcNavPath(relPath, id) %>
            <div class="collapse navbar-collapse" id="navbarList">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= navPath %>#contents">コンテンツ</a>
                    </li>
<% if(plugins.news) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= navPath %>#<%= config.param.news.baseurl %>"><%= config.param.news.title %></a>
                    </li>
<% } %>
<% if(plugins.sitemap) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= navPath %>sitemap.html">サイトマップ</a>
                    </li>
<% } %>
<% if(plugins.sitesearch) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= navPath %>sitesearch.html">サイト内検索</a>
                    </li>
<% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /header -->