<% if(pageLength > 1) { %>
        <nav class="mt-3 mb-4" aria-label="新着情報一覧のページ送り">
            <ul class="pagination">
<%
    //前のページへ
    if(pages !== 1) { //最初のページ以外
        const prev = pages - 1;
%>
                <li class="page-item">
                    <a href="<%= relPath %>news/<%= name + prev %>.html" class="page-link" aria-label="前のページへ">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
<%    }
    //ページネーション
    let prevEllipsis = false;
    let nextEllipsis = false;
    for(let i = 1; i <= pageLength; i++) { //ページ数分生成
        let paginationLink = `<a href="${relPath}news/${name}${i}.html" class="page-link">${i}</a>`;
        if(8 <= pageLength) {
            if(i !== 1 && i !== pageLength && i < pages - 2) {
                if(prevEllipsis) {
                    paginationLink = '';
                }
                else {
                    paginationLink = '<span class="page-link">…</span>';
                    prevEllipsis = true;
                }
            }
            if(i !== 1 && i !== pageLength && pages + 2 < i) {
                if(nextEllipsis) {
                    paginationLink = '';
                }
                else {
                    paginationLink = '<span class="page-link">…</span>';
                    nextEllipsis = true;
                }
            }
        }
        //今いるページの場合、activeクラスを付与
        let paginationActive = '';
        if(i === pages) {
            paginationActive = ' active';
        } %>
                <li class="page-item<%= paginationActive %>"><%- paginationLink %></li>
<%    }
    //次のページへ
    if(pages !== pageLength) { //最後のページ以外
        const next = pages + 1;
%>
                <li class="page-item">
                    <a href="<%= relPath %>news/<%= name + next %>.html" class="page-link" aria-label="次のページへ">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
<%   } %>
            </ul>
        </nav>
<% } %>