<%
parameters = {
    title: 'サイト内検索',
    entitle: 'Search',
    css: 'contents',
    js: 'app.min',
    description: 'サイト内検索ページです。',
    ogpimage: 'eyecatch.jpg'
};
-%>
<%- include('../../util/_init_load') -%>
<%- include('../../util/_headset', { config, parameters }) -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('../../partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="l-upper">
<%- include('../../partial/_header', { config, commonVar }) %>
<%- include('../../partial/_eyecatch', { headerString }) %>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main" id="listSearch">
        <aside class="container">
<%- include('../../partial/_breadcrumb', { config, parameters, relPath }) %>
        </aside>
        <section class="inputSearch container mb-4">
            <div class="page-header mb-3 text-center <%= id %>_header">
                <h2>サイト内検索<small class="ml-3">Search</small></h2>
            </div>
            <div class="<%= id %>_contents">
                <div class="form-group">
                    <label for="inputSearch">サイト内検索</label>
                    <input type="search" class="form-control search" id="inputSearch" placeholder="検索">
                </div>
            </div>
        </section>
        <section class="container mb-5">
            <h3><span id="hits" class="mr-2">-</span>件</h3>
            <ul class="list">
                <%- htmlList %>
            </ul>
        </section>
        <div class="text-center my-4">
            <a href="<%= relPath %>" class="btn btn-light"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
        </div>
    </main>
    <!-- /main -->
</div>
<%- include('../../partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('../../partial/_js_loader', { parameters, relPath }) %>
</body>
</html>