<%
var param = {
    "title": "概要",
    "entitle": "About Page",
    "css": "commons",
    "js": "app.min",
    "description": "このページについての説明です。",
    "hierarchy": 0,
    "indexFlag": false
};
var commons = commons;
%>
<%- include("common/_year", { commons }) %>
<%- include("common/_pathdir", { param }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("common/_head", { param }) %>
</head>
<body class="aboutPage">

<div id="wrapper">
<%- include("common/_header", { commons, param }) %>

<%- include("common/_eyecatch", { param }) %>

    <!-- main -->
    <main class="main about">
<%- include("common/_breadcrumb", { param }) %>
        <section class="container-fluid">
            <div class="row">
                <article class="col-xs-12">
                    <div class="page-header">
                        <h2>What's this page? <small>About page</small></h2>
                    </div>
                    <p>自分用の小規模Webサイト制作用テンプレートです。<br>主にデモやテストサイト用で、scss, ejs, gulp対応。</p>
                    <h3>名前の由来</h3>
                    <p>Bootstrapを使っていることから。Bootstrapが電源投入、自動実行といった意味合いなので、何か物事を始めるイメージと火で火打石を連想。「Hiuchiishi」だと長いのと、これから事を始めるに当たって魔除けの意味も込めて切り火からKiribi。</p>
                    <p>gulpを使っている方はgulpが飲み込む、ごくごくと飲むという意味(だからシェイクのロゴなのですね)なので、火の神様というか仏教の明王で、一切不浄を飲み込み浄化する烏枢沙摩明王からお名前をお借りしました。</p>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("common/_footer", { commons, copyRightYear }) %>

</div>

<script src="<%= path %>js/lib.min.js"></script>
<script src="<%= path %>js/<%= param.js %>.js"></script>
</body>
</html>