<%- include("util/_init_load") %><%- include("util/_headset", { config, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { config, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>" id="<%= id %>">

<div id="wrapper">
<%- include("partial/_header", { config, id, commonVar }) %>

<%- include("partial/_eyecatch", { headerString }) %>

    <!-- main -->
    <main class="main <%= id %>main">
<%- include("partial/_breadcrumb", { config, id }) %>
        <section class="container-fluid">
            <div class="row mb-4">
                <article class="col-12">
<%- include("about/_content", { id }) %>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { config, id, copyRightYear }) %>

</div>

<%- include("partial/_js_loader", { config, id }) %>
</body>
</html>