<%
parameters = {
    title: '概要',
    entitle: 'About Page',
    css: 'contents',
    js: 'app.min',
    description: '概要ページの説明',
    ogpimage: 'img/eyecatch.jpg'
};
-%>
<%- include('util/_init_load') -%>
<%- include('util/_headset', { config, parameters, relPath }) -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" data-fixedanchor="<%= flagFixedAnchor %>" class="<%= id %>" id="<%= id %>">
<%- include('partial/_body_loader', { plugins }) %>
<div id="wrapper">
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<%- include('partial/_eyecatch', { headerString }) %>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main">
        <aside class="container">
<%- include('partial/_breadcrumb', { config, parameters, relPath }) %>
        </aside>
        <section class="py-5 container">
            <!-- contents -->
        </section>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_js_loader', { parameters, relPath }) %>
</body>
</html>