<%
const returnNews = `${name}${pages}.html`;
parameters = {
    title: '記事',
    entitle: 'News',
    css: 'contents',
    js: 'app.min',
    description: attributes.excerpt,
    ogpimage: 'img/eyecatch.jpg'
};
%><%- include('util/_init_load') %><%- include('util/_functions_article.ejs') %><% contentBody = funcURLConverter(body, relPath); %><%- include('util/_headset', { config, parameters, attributes, relPath }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<%- include('partial/_eyecatch', { headerString }) %>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main container-fluid">
        <aside class="container">
<%- include('partial/_breadcrumb', { config, parameters, returnNews, pages, relPath }) %>
        </aside>
        <article class="my-5 container <%= id %>_contents" id="<%= id %>_contents">
<%
const datetime = funcDateTimeFormat(attributes.date, "", "tz")
const showDt = funcDateTimeFormat(attributes.date, "/", "ymd")
const articleUrl = funcArticleUrl(config.commons.url, attributes)
%>
            <div class="news_article" id="<%= attributes.url %>">
                <h2 class="news_header"><%= attributes.title %></h2>
                <div class=" mb-3 news_createdatetime">
                    <i class="fas fa-fw fa-history" aria-hidden="true"></i><time class="news_createtime" datetime="<%= datetime %>"><%= showDt %></time>
                </div>
                <div class="mb-3 news_contents">
                    <%- contentBody %>
                </div>
<% if(plugins.articlesns) { %><%- include('_plugins/articlesns/articlesns', { config, articleUrl, metaTitle }) %><% } %>
            </div>
        </article>
        <div class="text-center my-5">
            <a href="<%= relPath %>news/<%= returnNews %>" class="btn btn-light rounded-0"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>記事一覧に戻る</a>
        </div>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_js_loader', { parameters, relPath }) %>
</body>
</html>