<%
const returnNews = `${name}${pages}.html`;
parameters = {
    title: '記事',
    entitle: 'News',
    css: 'contents',
    js: 'app.min',
    description: attributes.excerpt,
    ogpimage: 'img/eyecatch.jpg'
};
-%>
<%- include('util/_initLoad') -%>
<%- include('util/_functionsArticle.ejs') -%>
<%
contentBody = funcURLConverter(body, relPath);
-%>
<%- include('util/_headset', { config, parameters, attributes, relPath }) -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<%- include('partial/_bodyLoader', { plugins }) %>
<div id="wrapper">
<%
if(plugins.noscript) {
-%>
<%- include('_plugins/noscript/noscript') %>
<%
}
-%>
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<%- include('partial/_eyecatch', { headerString }) %>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main container-fluid">
        <div class="container">
            <aside>
<%- include('partial/_breadcrumb', { config, parameters, returnNews, pages, relPath }) %>
            </aside>
        </div>
        <div class="container">
            <article class="py-5 <%= id %>_contents" id="<%= id %>_contents">
<%
const datetime = funcDateTimeFormat(attributes.date, "", "tz")
const showDt = funcDateTimeFormat(attributes.date, "/", "ymd")
const articleUrl = funcArticleUrl(config.commons.url, config.param.news.baseurl, attributes)
-%>
                <div class="c-article_article" id="<%= attributes.url %>">
                    <h2 class="c-article_header"><%= attributes.title %></h2>
                    <div class=" mb-3 c-article_createdatetime">
                        <i class="fa-solid fa-fw fa-history" aria-hidden="true"></i><time class="c-article_createtime" datetime="<%= datetime %>"><%= showDt %></time>
                    </div>
                    <div class="mb-3 c-article_contents">
                        <%- contentBody %>
                    </div>
<%
if(plugins.articlesns) {
-%>
    <%- include('_plugins/articlesns/articlesns', { config, articleUrl, metaTitle, attributes }) %>
<%
}
-%>
                </div>
            </article>
        </div>
        <div class="text-center pb-5">
            <a href="<%= relPath %><%= config.param.news.baseurl %>/<%= returnNews %>" class="btn btn-secondary"><i class="fa-solid fa-fw fa-chevron-left" aria-hidden="true"></i>記事一覧に戻る</a>
        </div>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_jsLoader', { parameters, relPath }) %>
</body>
</html>