<%- include("util/_filename_id") %><%- include("util/_header_path") %><%- include("util/_article_id") %><%- include("util/_year") %><%
var name = name; //gulpfile.jsで指定されたファイル名
var variables = variables;
var commonVar = commonVar;
var newsBlock = newsBlock;
var returnNews = name + pages + ".html";
var os = os;
copyRightYear = funcCopyRightYear(variables);
id = funcFileNameId(os, filename);
headerPath = funcHeaderPath(variables, id);
%><%- include("util/_headset_article", { variables, id, newsBlock }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>" id="<%= id %>Main">
<%- include("partial/_breadcrumb_article", { variables, id, returnNews, newsBlock }) %>
        <section class="container-fluid mb-4">
            <div class="row">
<%
var datetime = newsBlock.time.replace(/\//g, "-");
var articleIdStr = funcArticleId(newsBlock);
var articleUrl = funcArticleUrl(variables.commons.url.slice(0, -1) + variables.commons.baseurl, articleIdStr);
%>
                <div class="col-12 news_card mb-3">
                    <article class="news_article" id="<%= articleIdStr %>">
                        <div class="card">
<%
if(newsBlock.thumbnail.length > 0) {
%>
                            <img class="card-img-top img-fluid" src="img/<%- newsBlock.thumbnail %>" alt="<%= newsBlock.title %>">
<%
}
%>
                            <div class="card-body">
                                <h2 class="news_header"><%= newsBlock.title %></h2>
                                <div class="news_contents">
                                    <%- newsBlock.content %>
                                </div>
                                <div class="news_share my-3">
                                    <div class="btn-group" role="group" aria-label="シェアボタングループ">
                                        <button type="button" class="btn news_btn news_btnTwitter"><a href="http://twitter.com/share?url=<%= articleUrl %>&text=<%= metaTitle %>%20%2d%20<%= variables.commons.sitename %>" target="_blank" title="Twitterでツイート"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a></button>
                                        <button type="button" class="btn news_btn news_btnFacebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= articleUrl %>" target="_blank" title="Facebookに投稿"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></button>
                                        <button type="button" class="btn news_btn news_btnGooglePlus"><a href="https://plus.google.com/share?url=<%= articleUrl %>" target="_blank" title="Google+に投稿"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a></button>
                                        <button type="button" class="btn news_btn news_btnLine"><a href="http://line.me/R/msg/text/?<%= metaTitle %>%20%2d%20<%= variables.commons.sitename %>%20<%= articleUrl %>" target="_blank" title="LINEトークに送る"><i class="fa fa-fw fa-comment" aria-hidden="true"></i></a></button>
                                        <button type="button" class="btn news_btn news_btnPocket"><a href="https://getpocket.com/edit?url=<%= articleUrl %>" target="_blank" title="Pocketに保存"><i class="fa fa-fw fa-get-pocket" aria-hidden="true"></i></a></button>
                                        <button type="button" class="btn news_btn news_btnRss"><a href="https://feedly.com/i/subscription/feed/<%= domain %>rss.xml" target="_blank" title="Feedlyに登録"><i class="fa fa-fw fa-rss" aria-hidden="true"></i></a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <time class="news_createtime d-block text-right" datetime="<%= datetime %>"><%= newsBlock.time %></time>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="mb-3"><a href="news/<%= returnNews %>" class="btn btn-light">記事一覧に戻る</a></div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<%- include("partial/_js_loader", { variables, id }) %>
</body>
</html>