<%
var name = name; //gulpfile.jsで指定されたファイル名
var variables = variables;
var commonVar = commonVar;
var newsBlock = newsBlock;
var returnNews = name + pages + ".html";
var os = os;
%><%- include("util/_filename_id", { filename, os }) %><%- include("util/_year", { variables, id }) %><%- include("util/_headset_article", { variables, id, newsBlock }) %><%- include("util/_header_path", { id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>" id="<%= id %>Main">
<%- include("partial/_breadcrumb_article", { variables, id, returnNews, newsBlock }) %>
        <section class="container-fluid">
            <div class="row">
<%
var datetime = newsBlock.time.replace(/\//g, "-");
var idTime = newsBlock.time.replace(/\//g, "");
var version = newsBlock.title.replace(/\./g, "_");
%>
                <div class="col-12 news_card mb-3">
                    <article class="news_article" id="<%= newsBlock.id %>_<%= version %>-<%= idTime %>">
                        <div class="card">
<%
if(newsBlock.thumbnail.length > 0) {
%>
                            <img class="card-img-top img-fluid" src="img/<%- newsBlock.thumbnail %>" alt="<%= newsBlock.title %>">
<%
}
%>
                            <div class="card-body">
                                <h2 class="news_header"><%= newsBlock.title %></h2>
                                <div class="news_contents">
                        	        <%- newsBlock.content %>
                                </div>
                        	</div>
                        	<div class="card-body">
                        		<time class="news_createtime" datetime="<%= datetime %>"><%= newsBlock.time %></time>
                        	</div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="mb-3"><a href="news/<%= returnNews %>" class="btn">記事一覧に戻る</a></div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<script src="js/lib.min.js"></script>
<script src="js/<%= variables.param[id].js %>.js"></script>
</body>
</html>