<%
var name = name; //gulpfile.jsで指定されたファイル名
var variables = variables;
var commonVar = commonVar;
id = filename.slice(filename.lastIndexOf("\\") + 1).replace(/\.ejs/g, ''); //PC内の絶対パスで最後の\の位置+1(=パスなしファイル名)から末尾までの文字列を切り取り、".ejs"の4文字を取り除く=拡張子なしのファイル名
var newsBlock = newsBlock;
var returnNews = name + pages + ".html";
%><%- include("util/_year", { variables, id }) %><%- include("util/_headset_article", { variables, id, newsBlock }) %><%- include("util/_header_path", { id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>" id="<%= id %>Main">
<%- include("partial/_breadcrumb_article", { variables, id, returnNews, newsBlock }) %>
        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
<%
var datetime = newsBlock.time.replace(/\//g, "-");
var idTime = newsBlock.time.replace(/\//g, "");
var version = newsBlock.title.replace(/\./g, "_");
%>
                    <article class="news_article" id="<%= newsBlock.id %>_<%= version %>-<%= idTime %>">
                        <div class="panel panel-default">
                        	<div class="panel-heading">
                        		<h2 class="news_header"><%= newsBlock.title %></h2>
                        	</div>
                        	<div class="panel-body">
<%
if(newsBlock.thumbnail.length > 0) {
%>
                                <div class="news_thumbnail">
                        	        <img src="img/<%- newsBlock.thumbnail %>" class="img-responsive">
                                </div>
<%
}
%>
                                <div class="news_contents">
                        	        <%- newsBlock.content %>
                                </div>
                        	</div>
                        	<div class="panel-footer">
                        		<time class="news_createtime" datetime="<%= datetime %>"><%= newsBlock.time %></time>
                        	</div>
                        </div>
                    </article>
<p><a href="news/<%= returnNews %>" class="btn">記事一覧に戻る</a></p>
                </div>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<script src="js/lib.min.js"></script>
<script src="js/<%= variables.param[id].js %>.js"></script>
</body>
</html>