<%
parameters = {
    title: 'Internal Server Error',
    entitle: '500 Internal Server Error',
    css: 'contents',
    js: 'app.min',
    description: 'ページ内の処理でエラーが発生しました。',
    ogpimage: 'img/eyecatch.jpg'
};
-%>
<%- include('util/_initLoad') -%>
<%- include('util/_headset', { config, parameters, relPath }) -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" data-fixedanchor="<%= flagFixedAnchor %>" class="<%= id %>" id="<%= id %>">
<%- include('partial/_bodyLoader', { plugins }) %>
<div id="wrapper">
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<%- include('partial/_eyecatch', { headerString }) %>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main">
        <div class="container">
            <aside>
<%- include('partial/_breadcrumb', { config, parameters, relPath }) %>
            </aside>
        </div>
        <div class="container">
            <section class="py-5">
                <div class="page-header mb-3 text-center <%= id %>_header">
                    <h2><%= parameters.title %></h2>
                </div>
                <p class="text-center mb-4"><%= parameters.description %></p>
            </section>
        </div>
        <div class="text-center pb-5">
            <a href="<%= relPath %>" class="btn btn-secondary"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
        </div>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_jsLoader', { parameters, relPath }) %>
</body>
</html>