<%
var variables = variables;
//var pathlessFilename = filename.slice(filename.lastIndexOf("\\") + 1); //パスなし、単独のファイル名
id = filename.slice(filename.lastIndexOf("\\") + 1, -4); //PC内の絶対パスで最後の\の位置+1(=パスなしファイル名)から.ejsの末尾4文字を除く範囲の文字列を切り取り=拡張子なしのファイル名
var newsjson = newsjson;
%>
<%- include("control/_year", { variables, id }) %>
<%- include("control/_pathdir", { variables, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="80" class="<%= id %>Page">

<%- include("index/_loading") %>

<div id="wrapper">
<%- include("partial/_header", { variables, id }) %>

<%- include("index/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>">
        <ol class="breadcrumb">
            <li class="active"><a href="./"><i class="fa fa-fw fa-home" aria-hidden="true"></i>ホーム</a></li>
        </ol>
        <section class="container-fluid" id="news">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="page-header">
                        <h2>What's new? <small>news</small></h2>
                    </div>
                    <p>新着情報一覧(最新<%=  variables.param[id].newscount %>件)です。過去の履歴は下記ボタンより。</p>
                    <p><a href="./news/news1.html" class="btn">過去の履歴</a></p>
                </div>
                <div class="col-sm-12 col-md-9">
                    <ul class="list-group">
<% for(var i in newsjson.news) {
    if(i <  variables.param[id].newscount) {
        var datetime = newsjson.news[i].time.replace(/\//g, "-");
        var idTime = newsjson.news[i].time.replace(/\//g, "");
%>
                        <li class="list-group-item">
                            <a href="./news/news1.html#<%= newsjson.news[i].id %>-<%= idTime %>">
                                <h3 class="news_header"><%= newsjson.news[i].title %></h3>
                                <time class="news_createtime" datetime="<%= datetime %>"><%= newsjson.news[i].time %></time>
                                <p><%- newsjson.news[i].excerpt %></p>
                            </a>
                        </li>
<%
    }
}
%>
                    </ul>
                </div>
            </div>
        </section>
        <section class="container-fluid" id="about">
            <div class="row">
                <article class="col-xs-12">
                    <div class="page-header">
                        <h2>What's this page? <small>About page</small></h2>
                    </div>
                    <p>自分用の小規模Webサイト制作用テンプレートです。</p>
                    <p>Scss, ejs, gulp使用。</p>
                    <p><a href="./about.html" class="btn">詳しい概要</a></p>
                    <h3>名前の由来</h3>
                    <p>Bootstrapを使っていることから。Bootstrapが電源投入、自動実行といった意味合いなので、何か物事を始めるイメージと火で火打石を連想。「Hiuchiishi」だと長いのと、これから事を始めるに当たって魔除けの意味も込めて切り火からKiribi。</p>
                    <p>gulpを使っている方はgulpが飲み込む、ごくごくと飲むという意味(だからシェイクのロゴなのですね)なので、火の神様というか仏教の明王で、一切不浄を飲み込み浄化する烏枢沙摩明王からお名前をお借りしました。</p>
                    <h3>烏枢沙摩明王の真言</h3>
                    <h4>解穢真言</h4>
                    <p><ruby>
                        ॐ<rp>(</rp><rt>オン</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        क्रोधना<rp>(</rp><rt>クロダノウ</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        हूं<rp>(</rp><rt>ウン</rt><rp>)</rp>
                        ज<rp>(</rp><rt>ジャク</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        स्वाहा<rp>(</rp><rt>ソワカ</rt><rp>)</rp>
                    </ruby></p>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<script src="<%= path %>js/lib.min.js"></script>
<script src="<%= path %>js/progress.min.js"></script>
<script src="<%= path %>js/<%= variables.param[id].js %>.js"></script>
</body>
</html>