<%- include("util/_init_load") %><%
var newsjson = newsjson;
var navbarHeight = commonVar["navbar-height"].replace(/\px/g, ''); //commonVarの中のナビゲーションバーの高さの値からpxを取り除き、数字だけにする(bodyタグのdata-offsetに使用)
%><%- include("util/_headset", { variables, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="<%= navbarHeight %>" class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { headerString }) %>

    <!-- main -->
    <main class="main <%= id %>">
<%- include("partial/_breadcrumb", { variables, id }) %>
        <section class="container-fluid mb-4" id="news">
            <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="page-header">
                        <h2>What's new? <small>news</small></h2>
                    </div>
                    <p>新着情報一覧(最新<%=  variables.param[id].newscount %>件)です。過去の履歴は下記ボタンより。</p>
                    <div class="mb-3"><a href="news/news1.html" class="btn btn-light">過去の履歴</a></div>
                </div>
                <div class="col-md-12 col-lg-9">
                    <ul class="list-group">
<% for(var i in newsjson.news) {
    if(i <  variables.param[id].newscount) {
        var datetime = newsjson.news[i].time.replace(/\//g, "-");
        var idTime = newsjson.news[i].time.replace(/\//g, "");
        var version = newsjson.news[i].title.replace(/\./g, "_");
%>
                        <li class="list-group-item">
                            <a href="news/articles/<%= newsjson.news[i].id %>_<%= version %>-<%= idTime %>.html">
                                <h3 class="news_header"><%= newsjson.news[i].title %></h3>
                                <time class="news_createtime" datetime="<%= datetime %>"><%= newsjson.news[i].time %></time>
                                <p><%- newsjson.news[i].excerpt %></p>
                            </a>
                        </li>
<%
    }
}
%>
                    </ul>
                </div>
            </div>
        </section>
        <section class="container-fluid mb-4" id="about">
            <div class="row">
                <article class="col-12">
<%- include("about/_content", { id }) %>
                    <h3>烏枢沙摩明王の真言<small>解穢真言</small></h3>
                    <p><ruby>
                        ॐ<rp>(</rp><rt>オン</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        क्रोधना<rp>(</rp><rt>クロダノウ</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        हूं<rp>(</rp><rt>ウン</rt><rp>)</rp>
                        ज<rp>(</rp><rt>ジャク</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        स्वाहा<rp>(</rp><rt>ソワカ</rt><rp>)</rp>
                    </ruby></p>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<%- include("partial/_js_loader", { variables, id }) %>
</body>
</html>