<%- include("util/_init_load") %><%- include("util/_article_id") %><%
var newsBlock = newsBlock;
var navbarHeight = commonVar["navbar-height"].replace(/\px/g, ''); //commonVarの中のナビゲーションバーの高さの値からpxを取り除き、数字だけにする(bodyタグのdata-offsetに使用)
%><%- include("util/_headset", { config, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { config, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">

<div id="wrapper">
<%- include("partial/_header", { config, id, commonVar }) %>

<%- include("partial/_eyecatch", { headerString }) %>

    <!-- main -->
    <main class="main <%= id %>main">
<%- include("partial/_breadcrumb", { config, id }) %>
        <section class="container-fluid" id="news">
            <div class="row mb-4">
                <div class="col-md-12 col-lg-5">
                    <div class="page-header mb-3">
                        <h2>What's news?<small class="ml-3">News</small></h2>
                    </div>
                    <p>新着情報一覧(最新<%=  config.param[id].newscount %>件)です。過去の履歴は下記ボタンより。</p>
                    <div class="mb-4"><a href="news/news1.html" class="btn btn-light">過去の履歴</a></div>
                </div>
                <div class="col-md-12 col-lg-7">
                    <ul class="list-group">
<% for(var i in newsBlock) {
    var datetime = funcDateTimeFormat(newsBlock[i].date, "-", "");
    var showDt = funcDateTimeFormat(newsBlock[i].date, "/", "");
    var articleUrl = funcArticleUrl("", newsBlock[i]);
%>
                        <li class="list-group-item">
                            <a href="<%= relPath %><%= articleUrl %>">
                                <h3 class="news_header"><%= newsBlock[i].title %></h3>
                                <time class="news_createtime" datetime="<%= datetime %>"><%= showDt %></time>
                                <p><%- newsBlock[i].excerpt %></p>
                            </a>
                        </li>
<%
}
%>
                    </ul>
                </div>
            </div>
        </section>
        <section class="container-fluid" id="about">
            <div class="row mb-4">
                <article class="col-12">
<%- include("about/_content", { id }) %>
                    <h3 class="mb-3">烏枢沙摩明王の真言<small class="ml-3">解穢真言</small></h3>
                    <p><ruby>
                        ॐ<rp>(</rp><rt>オン</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        क्रोधना<rp>(</rp><rt>クロダノウ</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        हूं<rp>(</rp><rt>ウン</rt><rp>)</rp>
                        ज<rp>(</rp><rt>ジャク</rt><rp>)</rp>
                        　<rp>(</rp><rt>・</rt><rp>)</rp>
                        स्वाहा<rp>(</rp><rt>ソワカ</rt><rp>)</rp>
                    </ruby></p>
                </article>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { config, id, copyRightYear }) %>

</div>

<%- include("partial/_js_loader", { config, id }) %>
</body>
</html>