<%
parameters = {
    title: 'ホーム',
    entitle: 'Home',
    css: 'index',
    js: 'app.min',
    description: config.commons.description,
    ogpimage: config.param.ogp.ogpimage
};
const indexCounter = () => {
    let cnt = `最新${String(config.param.news.indexcount)}`;
    if(config.param.news.indexcount === 0) {
        cnt = '全';
    }
    return cnt;
};
-%>
<%- include('util/_initLoad') -%>
<%- include('util/_functionsArticle') -%>
<%- include('util/_headset', { config, parameters, relPath }) -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" aria-controls="navbarList" data-target="#navbarList" data-offset="<%= navbarHeight %>" data-fixedanchor="<%= flagFixedAnchor %>" class="<%= id %>" id="<%= id %>">
<%- include('partial/_bodyLoader', { plugins }) %>
<div id="wrapper">
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<%
if(plugins.slick) {
-%>
    <%- include('_plugins/slick/slick', { relPath }) %>
<%
}
else {
-%>
    <%- include('partial/_eyecatch', { headerString, parameters }) -%>
<%
}
-%>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main">
        <div class="container fixed_anchor" id="contents">
            <section class="py-5">
                <!-- contents -->
            </section>
        </div>
<%
if(plugins.news && newsBlock !== undefined && newsBlock !== null && newsBlock.length > 0) {
    const counter = indexCounter();
-%>
        <div class="container <%= config.param.news.baseurl %> fixed_anchor" id="<%= config.param.news.baseurl %>">
            <section class="pb-5">
                <div class="page-header mb-3 text-center <%= config.param.news.baseurl %>_header">
                    <h2><%= config.param.news.title %></h2>
                </div>
                <div class="<%= config.param.news.baseurl %>_contents">
                    <p class="text-center"><%= config.param.news.title %>一覧(<%= counter %>件)です。</p>
                    <div class="row align-items-top my-4">
<%- include('partial/_newscards.ejs', { relPath, newsBlock }) %>
                    </div>
                </div>
                <div class="text-center">
                    <a href="<%= relPath %><%= config.param.news.baseurl %>/news1.html" class="btn btn-secondary"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>過去の<%= config.param.news.title %></a>
                </div>
            </section>
        </div>
<%
}
-%>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_jsLoader', { parameters, relPath }) %>
</body>
</html>