<%
parameters = {
    title: 'ホーム',
    entitle: 'Home',
    css: 'index',
    js: 'app.min',
    description: config.commons.description,
    ogpimage: config.commons.url + parameters.ogpimage
};
const indexCounter = () => {
    let cnt = `最新${String(config.param.news.indexcount)}`;
    if(config.param.news.indexcount === 0) {
        cnt = "全";
    }
    return cnt;
};
%><%- include('util/_init_load') %><%- include('util/_functions_article') %><%- include('util/_headset', { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" aria-controls="navbarList" data-target="#navbarList" data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<% if(plugins.slick) { %><%- include('_plugins/slick/slick', { relPath }) %><% }
 else { %><%- include('partial/_eyecatch', { headerString, parameters }) %><% } %>
    <!-- main -->
    <main class="l-main o-main <%= id %>main">
        <section class="container fixed_anchor" id="contents">
            <!-- contents -->
        </section>
<%
if(plugins.news && newsBlock !== undefined && newsBlock !== null && newsBlock.length > 0) {
    const counter = indexCounter()
%>
        <section class="container my-5 releasenotes fixed_anchor" id="releasenotes">
            <div class="page-header mb-3 text-center releasenotes_header">
                <h2><%= config.param.news.title %><small class="ml-3">Release Notes</small></h2>
            </div>
            <div class="releasenotes_contents">
                <p class="text-center"><%= config.param.news.title %>一覧(<%= counter %>件)です。</p>
                <div class="row align-items-top my-4">
<%- include('partial/_newscards.ejs', { relPath, newsBlock }) %>
                </div>
            </div>
            <div class="text-center">
                <a href="<%= relPath %>news/news1.html" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>過去の<%= config.param.news.title %></a>
            </div>
        </section>
<% } %>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_js_loader', { parameters, relPath }) %>
</body>
</html>