<%
var counter = pages; //gulpfile.jsのnews.ejsのカウンタ
var pageLength = pageLength; //ページの最大数
var name = name; //gulpfile.jsで指定されたファイル名
var param = {
    "title": "更新履歴" + counter,
    "entitle": "News" + counter,
    "css": "commons",
    "js": "app.min",
    "description": "更新履歴の一覧です。",
    "hierarchy": 1,
    "indexFlag": false
};
var commons = commons;
var newsBlock = newsBlock;
%>
<%- include("common/_pathdir", { param }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("common/_head", { param }) %>
</head>
<body class="newsPage">

<div id="wrapper">
<%- include("common/_header", { commons, param }) %>

<%- include("common/_eyecatch", { param }) %>

    <!-- main -->
    <main class="main news">
<%- include("common/_breadcrumb", { param }) %>
        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2>What's news? <small>news</small></h2>
                    </div>
<%- include("news/_pagination", { counter, pageLength, name, param, commons }) %>
                </div>
                <div class="col-xs-12">
<% for(var i in newsBlock) {
    var datetime = newsBlock[i].time.replace(/\//g, "-");
    var idTime = newsBlock[i].time.replace(/\//g, "");
%>
                    <article class="news_article" id="<%= newsBlock[i].id %>-<%= idTime %>">
                        <div class="panel panel-default">
                        	<div class="panel-heading">
                        		<h3 class="news_header"><%= newsBlock[i].title %></h3>
                        	</div>
                        	<div class="panel-body">
                                <div class="news_contents">
                        	        <%- newsBlock[i].content %>
                                </div>
                        	</div>
                        	<div class="panel-footer">
                        		<time class="news_createtime" datetime="<%= datetime %>"><%= newsBlock[i].time %></time>
                        	</div>
                        </div>
                    </article>
<% } %>
<%- include("news/_pagination", { counter, pageLength, name, param, commons }) %>
                </div>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("common/_footer", { commons }) %>

</div>

<script src="<%= path %>js/lib.min.js"></script>
<script src="<%= path %>js/<%= param.js %>.js"></script>
</body>
</html>