<%- include("util/_init_load") %><%- include("util/_functions_article") %><%
var counter = pages; //gulpfile.jsのnews.ejsのカウンタ
var pageLength = pageLength; //ページの最大数
var name = name; //gulpfile.jsで指定されたファイル名
var newsBlock = newsBlock;
%><%- include("util/_headset", { config, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { config, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">

<div id="wrapper">
<%- include("partial/_header", { config, id, commonVar }) %>

<%- include("partial/_eyecatch", { headerString }) %>

    <!-- main -->
    <main class="container-fluid main <%= id %>main">
        <aside class="container">
<%- include("partial/_breadcrumb", { config, id }) %>
        </aside>
        <section class="container my-5">
            <div class="page-header mb-3 text-center <%= id %>_header">
                <h2>更新履歴<small class="ml-3">News</small></h2>
            </div>
<%- include("partial/_pagination", { counter, pageLength, name, config, id }) %>
            <div class="row align-items-top my-4 <%= id %>_contents" id="<%= id %>_contents">
<% for(var i in newsBlock) {
    var datetime = funcDateTimeFormat(newsBlock[i].date, "-", "");
    var showDt = funcDateTimeFormat(newsBlock[i].date, "/", "");
    var articleUrl = funcArticleUrl("", newsBlock[i]);
%>
                <div class="col-md-12 col-lg-6 col-xl-4 news_card mb-4">
                    <article class="news_article" id="<%= newsBlock[i].url %>">
                        <div class="card">
<%
if(newsBlock[i].thumbnail !== null && newsBlock[i].thumbnail !== undefined) {
%>
                            <img class="card-img-top img-fluid" src="<%= relPath %><%- config.commons.newsthumbnail %><%- newsBlock[i].thumbnail %>" alt="<%= newsBlock[i].title %>">
<%
}
%>
                            <div class="card-body">
                                <h3 class="news_header"><a href="<%= relPath %><%= articleUrl %>"><%= newsBlock[i].title %></a></h3>
                                <div class="news_contents">
                                    <%- newsBlock[i].excerpt %>
                                </div>
                            </div>
                            <div class="card-footer p-3 text-right bg-white border-0">
                                <i class="fas fa-fw fa-history" aria-hidden="true"></i><time class="news_createtime" datetime="<%= datetime %>"><%= showDt %></time>
                            </div>
                        </div>
                    </article>
                </div>
<% } %>
            </div>
<%- include("partial/_pagination", { counter, pageLength, name, config, id }) %>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { config, id, copyRightYear }) %>

</div>

<%- include("partial/_js_loader", { config, id }) %>
</body>
</html>