<%
parameters = {
    title: config.param.news.title + pages,
    entitle: 'News',
    css: 'contents',
    js: 'app.min',
    description: config.param.news.title + 'の一覧(' + pages + 'ページ目)です。',
    ogpimage: 'img/eyecatch.jpg'
};
-%>
<%- include('util/_init_load') -%>
<%- include('util/_functions_article') -%>
<%- include('util/_headset', { config, parameters, relPath }) -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('partial/_head', { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" data-fixedanchor="<%= flagFixedAnchor %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="l-upper">
<%- include('partial/_header', { config, commonVar }) %>
<%- include('partial/_eyecatch', { headerString }) %>
    <!-- main -->
    <main class="l-main m-0 p-0 <%= id %>main">
        <aside class="container">
<%- include('partial/_breadcrumb', { config, parameters, relPath }) %>
        </aside>
        <section class="container my-5">
            <div class="page-header mb-3 text-center <%= id %>_header">
                <h2><%= config.param.news.title %></h2>
            </div>
<%- include('partial/_pagination', { pages, pageLength, parameters }) %>
            <div class="row align-items-top my-4 <%= id %>_contents" id="<%= id %>_contents">
<%- include('partial/_newscards.ejs', { relPath, newsBlock }) %>
            </div>
<%- include('partial/_pagination', { pages, pageLength, parameters }) %>
            <div class="text-center my-4">
                <a href="<%= relPath %>" class="btn btn-light"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<%- include('partial/_footer', { config, copyRightYear }) %>
</div>
<%- include('partial/_js_loader', { parameters, relPath }) %>
</body>
</html>