<%
var counter = pages; //gulpfile.jsのnews.ejsのカウンタ
var pageLength = pageLength; //ページの最大数
var name = name; //gulpfile.jsで指定されたファイル名
var variables = variables;
var commonVar = commonVar;
id = filename.slice(filename.lastIndexOf("\\") + 1).replace(/\.ejs/g, ''); //PC内の絶対パスで最後の\の位置+1(=パスなしファイル名)から末尾までの文字列を切り取り、".ejs"の4文字を取り除く=拡張子なしのファイル名
var newsBlock = newsBlock;
%><%- include("util/_year", { variables, id }) %><%- include("util/_headset", { variables, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>">
<%- include("partial/_breadcrumb", { variables, id }) %>
        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2>What's news? <small>news</small></h2>
                    </div>
<%- include("news/_pagination", { counter, pageLength, name, variables, id }) %>
                </div>
                <div class="col-xs-12">
<% for(var i in newsBlock) {
    var datetime = newsBlock[i].time.replace(/\//g, "-");
    var idTime = newsBlock[i].time.replace(/\//g, "");
    var version = newsBlock[i].title.replace(/\./g, "_");
%>
                    <article class="news_article" id="<%= newsBlock[i].id %>_<%= version %>-<%= idTime %>">
                        <div class="panel panel-default">
                        	<div class="panel-heading">
                        		<a href="articles/<%= newsBlock[i].id %>_<%= version %>-<%= idTime %>.html"><h3 class="news_header"><%= newsBlock[i].title %></h3></a>
                        	</div>
                        	<div class="panel-body">
                                <div class="news_contents">
                        	        <%- newsBlock[i].content %>
                                </div>
                        	</div>
                        	<div class="panel-footer">
                        		<time class="news_createtime" datetime="<%= datetime %>"><%= newsBlock[i].time %></time>
                        	</div>
                        </div>
                    </article>
<% } %>
<%- include("news/_pagination", { counter, pageLength, name, variables, id }) %>
                </div>
            </div>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<script src="js/lib.min.js"></script>
<script src="js/<%= variables.param[id].js %>.js"></script>
</body>
</html>