<%- include("util/_init_load") %><%- include("util/_article_id") %><%
var counter = pages; //gulpfile.jsのnews.ejsのカウンタ
var pageLength = pageLength; //ページの最大数
var name = name; //gulpfile.jsで指定されたファイル名
var newsBlock = newsBlock;
%><%- include("util/_headset", { variables, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { headerString }) %>

    <!-- main -->
    <main class="main <%= id %>">
<%- include("partial/_breadcrumb", { variables, id }) %>
        <section class="container-fluid">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="page-header mb-3">
                        <h2>What's news?<small class="ml-3">News</small></h2>
                    </div>
<%- include("news/_pagination", { counter, pageLength, name, variables, id }) %>
                </div>
            </div>
            <div class="row mb-4">
<% for(var i in newsBlock) {
    var datetime = newsBlock[i].time.replace(/\//g, "-");
    var articleIdStr = funcArticleId(newsBlock[i]);
    var articleUrl = funcArticleUrl("", articleIdStr);
%>
                <div class="col-md-12 col-lg-6 col-xl-4 news_card mb-4">
                    <article class="news_article" id="<%= articleIdStr %>">
                        <div class="card">
<%
if(newsBlock[i].thumbnail.length > 0) {
%>
                            <img class="card-img-top img-fluid" src="<%- variables.commons.newsthumbnail %><%- newsBlock[i].thumbnail %>" alt="<%= newsBlock[i].title %>">
<%
}
%>
                        	<div class="card-body">
                                <h3 class="news_header"><a href="<%= articleUrl %>"><%= newsBlock[i].title %></a></h3>
                                <div class="news_contents">
                        	        <%- newsBlock[i].excerpt %>
                                </div>
                        	</div>
                        	<div class="card-body">
                        		<time class="news_createtime d-block text-right" datetime="<%= datetime %>"><%= newsBlock[i].time %></time>
                        	</div>
                        </div>
                    </article>
                </div>
<% } %>
            </div>
<%- include("news/_pagination", { counter, pageLength, name, variables, id }) %>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<%- include("partial/_js_loader", { variables, id }) %>
</body>
</html>