<%
var counter = pages; //gulpfile.jsのnews.ejsのカウンタ
var pageLength = pageLength; //ページの最大数
var name = name; //gulpfile.jsで指定されたファイル名
var variables = variables;
var commonVar = commonVar;
var newsBlock = newsBlock;
var os = os;
%><%- include("util/_filename_id", { filename, os }) %><%- include("util/_year", { variables, id }) %><%- include("util/_headset", { variables, id }) %><%- include("util/_header_path", { id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>">
<%- include("partial/_breadcrumb", { variables, id }) %>
        <section class="container-fluid mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="page-header">
                        <h2>What's news? <small>news</small></h2>
                    </div>
<%- include("news/_pagination", { counter, pageLength, name, variables, id }) %>
                </div>
            </div>
            <div class="row">
<% for(var i in newsBlock) {
    var datetime = newsBlock[i].time.replace(/\//g, "-");
    var idTime = newsBlock[i].time.replace(/\//g, "");
    var version = newsBlock[i].title.replace(/\./g, "_");
%>
                <div class="col-md-12 col-lg-6 col-xl-4 news_card mb-3">
                    <article class="news_article" id="<%= newsBlock[i].id %>_<%= version %>-<%= idTime %>">
                        <div class="card">
<%
if(newsBlock[i].thumbnail.length > 0) {
%>
                            <img class="card-img-top img-fluid" src="img/<%- newsBlock[i].thumbnail %>" alt="<%= newsBlock[i].title %>">
<%
}
%>
                        	<div class="card-body">
                                <h3 class="news_header"><a href="news/articles/<%= newsBlock[i].id %>_<%= version %>-<%= idTime %>.html"><%= newsBlock[i].title %></a></h3>
                                <div class="news_contents">
                        	        <%- newsBlock[i].content %>
                                </div>
                        	</div>
                        	<div class="card-body">
                        		<time class="news_createtime d-block text-right" datetime="<%= datetime %>"><%= newsBlock[i].time %></time>
                        	</div>
                        </div>
                    </article>
                </div>
<% } %>
            </div>
<%- include("news/_pagination", { counter, pageLength, name, variables, id }) %>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<script src="js/lib.min.js"></script>
<script src="js/<%= variables.param[id].js %>.js"></script>
</body>
</html>