<div class="mt-navbar">
    <h1 class="sr-only"><%= headerString %></h1>
    <ul class="slider mx-0 mb-0 p-0 c-eyecatchMaxHeight">
        <li>
            <picture>
                <source media="(max-width:767px)" srcset="<%= relPath %>img/eyecatch_sp.jpg">
                <source media="(max-width:991px)" srcset="<%= relPath %>img/eyecatch_tb2.jpg">
                <source media="(max-width:1200px)" srcset="<%= relPath %>img/eyecatch_tb.jpg">
                <source media="(min-width:1201px)" srcset="<%= relPath %>img/eyecatch.jpg">
                <img src="<%= relPath %>img/eyecatch.jpg" alt="image01">
            </picture>
        </li>
        <li>
            <picture>
                <source media="(max-width:767px)" srcset="<%= relPath %>img/eyecatch_sp.jpg">
                <source media="(max-width:991px)" srcset="<%= relPath %>img/eyecatch_tb2.jpg">
                <source media="(max-width:1200px)" srcset="<%= relPath %>img/eyecatch_tb.jpg">
                <source media="(min-width:1201px)" srcset="<%= relPath %>img/eyecatch.jpg">
                <img src="<%= relPath %>img/eyecatch.jpg" alt="image02">
            </picture>
        </li>
        <li>
            <picture>
                <source media="(max-width:767px)" srcset="<%= relPath %>img/eyecatch_sp.jpg">
                <source media="(max-width:991px)" srcset="<%= relPath %>img/eyecatch_tb2.jpg">
                <source media="(max-width:1200px)" srcset="<%= relPath %>img/eyecatch_tb.jpg">
                <source media="(min-width:1201px)" srcset="<%= relPath %>img/eyecatch.jpg">
                <img src="<%= relPath %>img/eyecatch.jpg" alt="image03">
            </picture>
        </li>
    </ul>
</div>